<!DOCTYPE html>
<html lang="ru">

{% extends "base.html" %}

{% block content %}
    <h1>Ввод данных для алгоритма НСКО:</h1>
    <form action="" method="post" novalidate>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapse_auto" role="button" aria-expanded="false" aria-controls="collapseExample">
            Сгенерировать автоматически?
        </a>
        <div class="collapse" id="collapse_auto"><br>
        <p>
            Введите количество векторов: {{ form.count_of_vectors(size=3) }}
        </p>
        <p>
            Введите длину векторов: {{ form.len_vectors(size=3) }}
        </p>
        </div>
        <br>

        <br>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapse_handle" role="button" aria-expanded="false" aria-controls="collapseExample">
            Ввести вручную?
        </a>
        <div class="collapse" id="collapse_handle">
        <p>
            <br>
            <p>Введите структуру, аналогичную структуре на картинке:</p>
            <img src="{{ path_to_example }}" alt="Example.">
            <br><br>
            <textarea {{ form.handle_entered }}>
            </textarea>
        </div>
        <br>

        <br>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapse_from_file" role="button" aria-expanded="false" aria-controls="collapseExample">
            Ввести из файла?
        </a>
        <div class="collapse" id="collapse_from_file">
            <br>
            <p4>Введите абсолютный путь к файлу:</p4>
            <br>
            {{ form.path_to_data(size=80) }}
        </div>
        <br>

        <br>
        <p>{{ form.do_this }}</p>
    </form>
{% endblock %}
</html>