<!DOCTYPE html>
<html lang="ru">

{% extends "base.html" %}

{% block content %}
    <style>
    .redtext {color: red}
    </style>
    <style>
    .bluetext {color: blue}
    </style>
    <h1>Отображение данных:</h1>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_matrix" role="button" aria-expanded="false" aria-controls="collapseExample">
        Вектора.
    </a>
    <div class="collapse" id="collapse_matrix">
    <br>
    <div class="container">
    <h5>Класс 1 (<span class="redtext">красные</span>):</h5>
    <table class="table">
        <tbody>
            {% for index_1 in range(lines_1) %}
            <tr>
                {% for index_2 in first_class[index_1] %}
                <td> {{ index_2 }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table><br>

    <h5>Класс 2 (<span class="bluetext">синие</span>):</h5>
    <table class="table">
            <tbody>
                {% for index_1 in range(lines_2) %}
                <tr>
                    {% for index_2 in second_class[index_1] %}
                    <td> {{ index_2 }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
    </div>
    </div><br>
    <br>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_answered" role="button" aria-expanded="false" aria-controls="collapseExample">
        Коэффициенты разделяющей прямой/плоскости/гиперплоскости.
    </a>
    <div class="collapse" id="collapse_answered">
    <br>
        {{ answered }}
    </div><br><br>

    {% if path_to_img %}
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_img" role="button" aria-expanded="false" aria-controls="collapseExample">
        Картинка.
    </a>
    <div class="collapse" id="collapse_img">
    <br>
    <img src="{{ path_to_img }}" alt="Картинка.">
    </div><br><br>
    {% endif %}

    <h4><a href="nsko">Назад.</a> </h4>
{% endblock %}
</html>