<!DOCTYPE html>
<html lang="ru">

{% extends "base.html" %}

{% block content %}
    <h1>Отображение данных:</h1>
{#    <h2 style="color:red">Внимание! В браузере может быть включено кеширование изображений.</h2>#}
{#    <h2 style="color:red">В таком случае каждый новый запуск нужно производить в режиме инкогнито.</h2>#}
{#    <ol>#}
{#    {% for line in file %}#}
{#        <li> {{ line }}</li>#}
{#    {% endfor %}#}
{#    </ol>#}
{#    <button class="btn btn-info" data-toggle="collapse" data-target="#hide-me">Матрица смежности.</button>#}
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_matrix" role="button" aria-expanded="false" aria-controls="collapseExample">
        Матрица смежности.
    </a>
    <div class="collapse" id="collapse_matrix">
    <div class="container">
        <table class="table">
            <thead class="light">
                <tr>
                    {% for index_1 in range(stb) %}
                    <th scope="col">
                        {{ index_1 + 1 }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index_1 in range(str) %}
                <tr>
                    {% for index_2 in file[index_1] %}
                    <td> {{ index_2 }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <br>

    <br>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_monograph" role="button" aria-expanded="false" aria-controls="collapseExample">
        Оригинальный граф.
    </a>
    <div class="collapse" id="collapse_monograph">
    <h3>Оригинальный граф:</h3>
    <img src="{{ path_to_mono_graph }}" alt="Начальный граф.">
    </div>
    <br>

    <br>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_chromatic_number" role="button" aria-expanded="false" aria-controls="collapseExample">
        Хроматическое число.
    </a>
    <div class="collapse" id="collapse_chromatic_number">
    <br>
    <h5>Хроматическое число = {{ chromatic_number }}.</h5>
    </div>
    <br>

    <br>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapse_chromegraph" role="button" aria-expanded="false" aria-controls="collapseExample">
        Красивый граф.
    </a>
    <div class="collapse" id="collapse_chromegraph">
    <h3>Красивый граф:</h3>
    <img src="{{ path_to_many_graph }}" alt="Граф после перекраски.">
    </div>
    <br>

    <br>
    <h4><a href="true_chromatic">Назад.</a> </h4>
{% endblock %}
</html>